<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Account</title>
  <link rel = "stylesheet" type = "text/css" href = "../../stylesheets/style.css" />
  <link href='https://fonts.googleapis.com/css?family=Alegreya:400,700,700i' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
</head>
<body>

  <nav class="nav-menu">
    <ul>
      <!--WCDB is temp until logo is done-->
      <li style="background-color: #4CAF50; width: 15%;"><a href = "http://localhost:3000/" style="font-size:1.3em;font-weight:bold;padding:9px;margin:0;">W C D B</a></li>
      <li><a href="http://localhost:3000/">Home</a></li>
      <li><a href="../workshop.html">Workshop</a></li>
      <li><a href="../learn/learn.html">Learn</a></li>
      <li style="float:right"><a class="active" style="float:right" href="./profile.html">Account</a></li>
    </ul>
  </nav>

  <div class="vertical-menu">
    <h3 style="background-color:#333;margin-top:0;padding:10px;margin-bottom:0;color:white;">Account</h3>
    <a href="./profile.html">Profile</a>
    <a href="./classes.html" class="active">Classes</a>
  </div>

  <div class="profile">
    <p>
      <b><u>Classes Registered</u></b><br>
       CS205 <br>
       CS305 <br>
      <input type="Submit" value="Register for Another Class">
    </p>
  </div>
</body>
</html>
