<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LearnSQL</title>
  <link rel="stylesheet" href="./stylesheets/style.css" media="screen">
  <link rel="stylesheet" href="./stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/bootstrap.css">
  <link href='https://fonts.googleapis.com/css?family=Alegreya:400,700,700i' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
</head>
<body ng-app="LearnSQL">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top" ng-controller="NavCtrl">
    <div class="container-fluid">
      <a href="http://localhost:3000/" class="navbar-brand mr-auto">LearnSQL</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="http://localhost:3000/" class="nav-link border-right border-left px-4">Home</a>
          </li>
          <li class="nav-item">
            <a href="views/workshop.html" class="nav-link border-right px-3">Workshop</a>
          </li>
          <li class="nav-item">
            <a href="views/learn/learn.html" class="nav-link border-right px-4">Learn</a>
          </li>
          <li class="nav-item">
            <a href="views/quizes.html" class="nav-link border-right px-3">Quizzes</a>
          </li>
          <span ng-show="!currentUser">
          <li class="nav-item">
            <a href="views/account/singIn.html" class="nav-link pl-3" > Sign in</a>
          </li>
          </span>
          <span ng-show="currentUser">
          <li class="nav-item">
            <a href="views/account/profile.html" class="nav-link pl-3">Profile</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link pl-3" ng-click="logout()">Logout</a>
          </li>
          </span>
        </ul>
      </div>
    </div>
  </nav>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="../../javascripts/controllers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
