node_modules/*
!node_modules/bootstrap
client/fonts
client/stylesheets
client/javascripts/bootstrap.min.js
client/javascripts/jquery.min.js
client/javascripts/popper.min.js
app.js
bin/www
gulpfile.js
server/config/route-config.js