<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Learn</title>
  <link rel = "stylesheet" type = "text/css" href = "../../stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" 
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" 
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="../../stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="../../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../../stylesheets/learn.css">
</head>
<body>

  <div class="wrapper">

    <!-- SIDEBAR  -->
    <nav id="sidebar">
      <ul class="list-unstyled components">
        <!-- SIDEBAR HEADER -->
        <h2 class="text-dark text-center font-weight-bold mt-4">Sections</h2>
        <!-- SIDEBAR SECTIONS -->
        <li class="nav-item w-100">
          <a href="./learn.html" class="nav-link text-center">What is SQL?</a>
        </li>
        <li class="nav-item w-100">
          <a href="./relationalDatabases.html" class="nav-link text-center">Relational Databases</a>
        </li>
        <li class="nav-item w-100">
          <a href="./keys.html" class="nav-link text-center">Primary and Foreign Keys</a>
        </li>
        <li class="nav-item w-100">
          <a href="./select.html" class="active nav-link text-center text-light bg-dark text-light mr-2 ml-2 font-weight-bold">Basic Select Statements</a>
        </li>
        <li class="nav-item w-100">
          <a href="./where.html" class="nav-link text-center">Use of Where</a>
        </li>
        <li class="nav-item w-100">
          <a href="./order.html" class="nav-link text-center">Order By</a>
        </li>
        <li class="nav-item w-100">
          <a href="./distict.html" class="nav-link text-center">Distinct</a>
        </li>
        <li class="nav-item w-100">
          <a href="./as.html" class="nav-link text-center">As Clause</a>
        </li>
        <li class="nav-item w-100">
          <a href="./predicateOperators.html" class="nav-link text-center">Predicate Operators</a>
        </li>
        <li class="nav-item w-100">
          <a href="./expressions.html" class="nav-link text-center">Expressions</a>
        </li>
        <li class="nav-item w-100">
          <a href="./scalar.html" class="nav-link text-center">Scalar Function</a>
        </li>
        <li class="nav-item w-100">
          <a href="./aggregate.html" class="nav-link text-center">Aggregate Functions</a>
        </li>
        <li class="nav-item w-100">
          <a href="./group.html" class="nav-link text-center">Group By</a>
        </li>
        <li class="nav-item w-100">
          <a href="./having.html" class="nav-link text-center">Having with Group By</a>
        </li>
        <li class="nav-item w-100">
          <a href="./insert.html" class="nav-link text-center">Insert Into</a>
        </li>
        <li class="nav-item w-100">
          <a href="./update.html" class="nav-link text-center">Update</a>
        </li>
        <li class="nav-item w-100">
          <a href="./delete.html" class="nav-link text-center">Delete From</a>
        </li>
        <li class="nav-item w-100">
          <a href="./rollback.html" class="nav-link text-center">Rollback and Commit</a>
        </li>
        <li class="nav-item w-100">
          <a href="./types.html" class="nav-link text-center">Data Types</a>
        </li>
        <li class="nav-item w-100">
          <a href="./tableCreation.html" class="nav-link text-center">Table Creation</a>
        </li>
        <li class="nav-item w-100">
          <a href="./addAttributes.html" class="nav-link text-center">Adding/Removing Attributes</a>
        </li>
        <li class="nav-item w-100">
          <a href="./selectInto.html" class="nav-link text-center">Select Into</a>
        </li>
        <li class="nav-item w-100">
          <a href="./views.html" class="nav-link text-center">Views</a>
        </li>
        <li class="nav-item w-100">
          <a href="./union.html" class="nav-link text-center">Union</a>
        </li>
        <li class="nav-item w-100">
          <a href="./intersect.html" class="nav-link text-center">Intersect and Except</a>
        </li>
        <li class="nav-item w-100">
          <a href="./sub.html" class="nav-link text-center">Sub-Queries</a>
        </li>
        <li class="nav-item w-100">
          <a href="./derived.html" class="nav-link text-center">Derived Tables</a>
        </li>
        <li class="nav-item w-100">
          <a href="./joins.html" class="nav-link text-center">Joins</a>
        </li>
        <li class="nav-item w-100">
          <a href="./transactions.html" class="nav-link text-center">Transactions</a>
        </li>
        <li class="nav-item w-100">
          <a href="./cursors.html" class="nav-link text-center">Cursors</a>
        </li>
        <li class="nav-item w-100">
          <a href="./functions.html" class="nav-link text-center">Functions</a>
        </li>
        <li class="nav-item w-100">
          <a href="./triggers.html" class="nav-link text-center">Triggers</a>
        </li>
      </ul>
    </nav>

    <!-- PAGE CONTENT  -->
    <div id="content">
      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <!-- NAVBAR HEADER -->
          <h2 id="navbarTitle" class="text-danger font-weight-bold ml-3 mt-2">LearnSQL</h2>

          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- NAVBAR SECTIONS -->
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link text-dark" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="#">Workshop</a>
              </li>
              <li class="nav-item active">
                <a href="#" class="nav-link bg-danger text-white">Learn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="#">Quizzes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="#">Sign in</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- PAGE TITLE -->
      <h2 id="pageTitle" class="text-center font-weight-bold">
        <!-- TOGGLE SIDEBAR BUTTON -->
        <button type="button" id="sidebarCollapse" class="btn btn-dark float-left ml-2">
          <i class="fas fa-align-left"></i>
          <span></span>
        </button>Basic Select Statements
      </h2>
      <!-- INTRODUCTION TO BASIC SELECT STATEMENTS -->
      <p class="lead text-center">SELECT is a clause used to return data from a database.
          The data returned is stored in a result table, called the result-set.
          To use Select in an SQL statement you write SELECT then the name of the attribute
          columns, each seperated by a comma. SELECT has to be used with the
          FROM clause, which designates which table the SELECT attributes
          are coming from. This is shown here:</p>

      <!-- EXAMPLE 1 -->
      <div class="bg-light text-dark border border-dark">
        <h4 class="font-weight-bold">Example 1</h4>
        <div class="example">
          <p class="font-weight-bold">
            <pre id="code-one" class="text-black font-weight-bold">
  SELECT <em>attribute1, attribute2, attribute3, ...
  FROM table_name;</em>
            </pre>
          </p>
      
          <p class="lead">
            <pre>
  Here, column1, column2, ... are the field/attribute names of the table you want to select data from.
            </pre>
          </p>
        </div>
      </div>
          
      <!-- EXAMPLE 2 -->
      <p class="lead">If you want to select all the fields available in the table, use * in place of the        attributes. As shown in the next example.</p>
      <div class="bg-light text-dark border border-dark">
        <h4 class="font-weight-bold">Example 2</h4>
        <div class="example">
          <p class="font-weight-bold">
            <pre id="code-two" class="text-black font-weight-bold">
  SELECT <em>*</em>
  FROM <em>table_name;</em>
            </pre>
          </p>
        
          <p class="lead">
            <pre>
  Here, all fields in the table are selected because of the use of * in place of the attributes.
            </pre>
          </p>
        </div>
      </div>
          
      <br>
          
      <!-- PRACTICE QUESTIONS -->
      <div id="accordion">
        <div class="card bg-dark">
          <!-- PARENT HEADING -->
          <div class="card-header">
            <h5 class="mb-0">
              <div href="#parent-collapse" data-toggle="collapse" data-parent="#accordion" class="text-white">
              Practice Questions <i class="fas fa-angle-down"></i>
              </div>
            </h5>
          </div>

          <!-- PROBLEMS -->
          <div id="parent-collapse" class="collapse">
            <div class="card-body">
              <div ng-app="nodeQuestion">
              
                <!-- PROBLEM 1 -->
                <div class="card mb-1">
                  <div class="card-header">
                    <h5 class="mb-0">
                      <div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                        problem 1 <i class="fas fa-angle-down"></i>
                      </div>
                    </h5>
                  </div>
                  <div id="collapse1" class="collapse">
                    <div class="card-body">
                      <div ng-controller="Question">
                        <div class="question">
                          <pre>
  From a table named customer_t that has the following attributes:
  CustomerId, CustomerName, CustomerAddress, CustomerState, and CustomerPostalCode
                          </pre>
                          <p class="text-center font-weight-bold">
                            Write a select statement that returns all attributes.
                          </p>
                        </div>
                        <form>
                          <textarea style="width:96.5%; height:60px;" type="text" class="bg-white form-control input-lg" placeholder="Write your answer here..." ng-model="formData.text"></textarea>
                          <br>
                          <button type="submit" class="btn btn-primary btn-lg btn-block" ng-init="statementInHTML = 'select * from customer_t'" ng-click="answerQuestion()">Submit</button>
                        </form>
                        <h3 id="problem-one-font" style="color:{{backgroundColor}}" class="text-center">{{ answer }}</h3>
                      </div>
                    </div>
                  </div>
                </div>
      
                <!-- PROBLEM 2 -->
                <div class="card mb-1">
                  <div class="card-header">
                    <h5 class="mb-0">
                      <div href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                        problem 2 <i class="fas fa-angle-down"></i>
                      </div>
                    </h5>
                  </div>
                  <div id="collapse2" class="collapse">
                    <div class="card-body">
                      <div ng-controller="Question">
                        <div class="question">
                          <pre>
  From a table named <em>Customer</em> that has the following attributes:
  Customerid, Customername, CustomerAddress, CustomerCity, CustomerState, and CustomerPostalCode. 
                          </pre>
                          <p class="text-center font-weight-bold">
                            Write a SELECT Statement that returns all the CustomerIDs 
                          </p>
                        </div>
                        <form>
                          <textarea style="width:96.5%; height:60px;" type="text" class="bg-white form-control input-lg" placeholder="Write your answer here..." ng-model="formData.text"></textarea>
                          <br>
                          <button type="submit" class="btn btn-primary btn-lg btn-block" ng-init="statementInHTML = 'select customerid from customer_t'" ng-click="answerQuestion()">Submit</button>
                        </form>
                        <h3 id="problem-two-font" style="color:{{backgroundColor}}" class="text-center">{{ answer }}</h3>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- PROBLEM 3 -->
                <div class="card mb-1">
                  <div class="card-header">
                    <h5 class="mb-0">
                      <div href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                        problem 3 <i class="fas fa-angle-down"></i>
                      </div>
                    </h5>
                  </div>
                  <div id="collapse3" class="collapse">
                    <div class="card-body">
                      <div ng-controller="Question">
                        <div class="question">
                          <pre>
From a table named <em>Customer</em> that has the following attributes:
Customerid, Customername, CustomerAddress, CustomerCity, CustomerState, and CustomerPostalCode. 
                          </pre>
                          <p class="text-center font-weight-bold">
                            Write a SELECT Statement that returns CustomerName, CustomerAddress, CustomerCity, CustomerState, and CustomerPostalCode 
                          </p>
                        </div>
                        <form>
                          <textarea style="width:96.5%; height:60px;" type="text" class="bg-white form-control input-lg" placeholder="Write your answer here..." ng-model="formData.text"></textarea>
                          <br>
                          <button type="submit" class="btn btn-primary btn-lg btn-block" ng-init="statementInHTML = 'select CustomerName, CustomerAddress, CustomerCity, CustomerState, CustomerPostalCode from customer_t'" ng-click="answerQuestion()">Submit</button>
                        </form>
                        <h3 id="problem-three-font" style="color:{{backgroundColor}};" class="text-center">{{ answer }}</h3>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- MAIN FOOTER -->
      <footer id="main-footer" class="bg-white mt-3">
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <div class="py-4">
                <h1 class="h3 text-danger">LearnSQL</h1>
                <p>Copyright &copy; 2018</p>
                <a href="contact.html" class="btn btn-danger" role="button">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </footer>

    </div>
</div>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" 
  integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" 
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
  <script src="../../javascripts/app.js"></script>

  <!-- THE CURRENT YEAR OF THE COPYRIGHT -->
  <script>
    $('#year').text(new Date().getFullYear());
  </script>

  <!-- ADDED SCRIPT THAT ALLOWS THE BUTTON TO BE PRESSED TO TOGGLE THE SIDEBAR TO OPEN AND CLOSE -->
  <script type="text/javascript">
    $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
        theme: "minimal"
      });
    
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar, #content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });
    });
</script>

<!-- ADDED SCRIPT FOR PAGE TO SCROLL AUTOMATICALLY WHEN THE ACCORDION IS OPENED AND TO THE CLOSEST OPENED CARD -->
<script>
$('.collapse').on('shown.bs.collapse', function(e) {
  var $card = $(this).closest('.card');
  $('html,body').animate({
    scrollTop: $card.offset().top - 50
  }, 500);
});
</script>

</body>
</html>