/* ---------------------------------------------------
  sandbox.scss - LearnSQL

  Michael Torres
  Web Applications and Databases for Education (WADE)

  This file contains the Scss for the sandbox.html page
----------------------------------------------------- */

#textarea1 {
  font-family: 'Consolas', 'Lucida Consolas', 'Lucida Sans Regular';
  background-color: black;
}

#textarea2 {
  font-family: 'Consolas', 'Lucida Consolas', 'Lucida Sans Regular';
  background-color: black;
}