/* ---------------------------------------------------
  teacher.scss - LearnSQL

  Michael Torres
  Web Applications and Databases for Education (WADE)

  This file contains the Scss for the classes.html and 
  students.html page
----------------------------------------------------- */
td.highlight {
  background-color: whitesmoke !important; }

// overrides the font of the body
body {
  font-size: 16px;
}

.modal-body { 
  background-color: #45526e !important; 
}

.modal-header {
  background-color: #45526e;
}

.modal-footer {
  background-color: #45526e;
}

// overrides the font of the navbar brand "LearnSQL"
.navbar-brand {
  font-size: 20px;
}

#footer-header {
  color: #ac4142; }

#main-footer {
  margin-top: 100px;
}