<!-- contact.html - LearnSQL
     
    Michael Torres
     
    Web Applications and Databases for Education (WADE)
     
    The purpose of this file is to create a contact form so that 
    a user may email directly through the contact.html page by 
    using the contact form. 
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Learn</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/contact.css">

</head>
<body ng-app="LearnSQL">
    
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white" ng-controller="NavCtrl" data-ng-init="init()">
        <div class="container-fluid">
            <!-- navbar header -->
            <h2 class="font-weight-bold ml-3 mt-2">
                <a href="http://localhost:3000/" id="navbar-title">LearnSQL</a>
            </h2>
            <!-- end of navbar header -->
            
            <!-- navbar sections -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="http://localhost:3000/" class="nav-link text-dark">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="../workshop.html" class="nav-link text-dark">Workshop</a>
                    </li>
                    <li class="nav-item active">
                        <a href="../learn/select.html" id="learn-tab" class="nav-link shadow-lg text-white">Learn</a>
                    </li>
                    <li class="nav-item">
                        <a href="../quizzes.html" class="nav-link text-dark">Quizzes</a>
                    </li>
                    <span ng-show="!currentUser">
                    <li class="nav-item">
                        <a href="../views/Account/signIn.html" class="nav-link text-dark">Sign in</a>
                    </li>
                    </span>
                    <span ng-show="currentUser">
                    <li class="nav-item">
                        <a href="../account/profile.html" class="nav-link text-dark">Profile</a>
                    </li>
                    </span>
                    <span ng-show="currentUser">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-dark" ng-click="logout()">Logout</a>
                    </li>
                    </span>
                </ul>
            </div>
            <!-- end of navbar sections -->

        </div>
    </nav>
    <!-- END OF NAVBAR -->

    <!-- PAGE CONTENT -->
    <section id="page-content">
        
        <!-- contact us page title -->
        <h1 id="page-title" class="text-center font-weight-bold">Contact Us</h1>
        <!-- end of contact us page title-->

        <!-- contact page description -->
        <p class="text-center lead">
            Please fill out the the contact form if you are experiencing a <br>
            problem, want to request a feature,or if you want to leave feedback.
            <br>
            
            <p class="text-center text-danger lead mb-0">Please note</p>

            <p class="text-center lead">
                if you are experiencing an issue, please leave detailed information <br>
                for the problem you are experiencing so we can further help you.
            </p>
        </p>
        <!-- end of contact page description -->

        <!-- contact form section -->
        <div class="contact-form-section container mt-4">
            <div class="row">
                <!-- contact form -->
                <div class="contact-form" ng-controller="ContactCtrl">
                    <div class="card contact-form-background-color">
                        <div class="card-body">
                            <h3 class="text-center text-white">Please fill out this form to contact us</h3>
                            <hr class="bg-white">

                            <span ng-show="error">
                                <div class="alert alert-danger">
                                    {{msg}}
                                </div>
                            </span>

                            <span ng-show="success">
                                <div class="alert alert-success">
                                    {{msg}}
                                </div>
                            </span>

                            <form>
    
                                <div class="row">
                                    <!-- first name-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="name" class="form-control" ng-model="firstName" placeholder="First Name" required>
                                        </div>
                                    </div>
                                    <!-- end of first name -->
    
                                    <!-- last name -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="name" class="form-control" ng-model="lastName" placeholder="Last Name" required>
                                        </div>
                                    </div>
                                    <!-- end of last name -->
    
                                    <!-- email -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" ng-model="email" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <!-- end of email -->
    
                                    <!-- phone number -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="number" class="form-control" ng-model="phoneNumber" placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <!-- end of phone number -->
                                </div>
    
                                <!-- message -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" ng-model="clientMessage" placeholder="Message" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of message -->
    
                                <!-- submit message button -->
                                <div class="col-md-12">
                                    <button type="submit" value="submit" class="btn btn-outline-danger btn-block" ng-click="submit()">Submit</button>
                                </div>
                                <!-- end of submit message button -->
    
                            </form>
    
                        </div>
                    </div>
                </div>
                <!-- end of contact form -->
            </div>
        </div>
        <!-- end of contact-form-section -->
    </section>
    <!-- END OF PAGE CONTENT -->

    <!-- FOOTER -->
    <footer id="main-footer" class="bg-light mt-3 fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="py-4">
                        <h1 id="learnSQLFooterHeader" class="h3">
                            <a href="http://localhost:3000/" id="footer-header">LearnSQL</a>
                        </h1>
                        <p>Copyright &copy; 2018</p>
                        <a href="contact.html" id="contact-us-button" class="btn text-white shadow" role="button">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END OF FOOTER -->

    <!-- ADDED THIS -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="../javascripts/controllers.js"></script>
    <!-- END OF ADDED THIS -->

</body>
</html>