<!--
  index.html - LearnSQL

  Kevin Kelly, Michael Torres
  Web Applications and Databases for Education (WADE)

  This file contains the html view of the index page for the LearnSQL website
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LearnSQL</title>
  <link rel="stylesheet" href="./stylesheets/style.css" media="screen">
  <link rel="stylesheet" href="./stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/bootstrap.css">
  <link href='https://fonts.googleapis.com/css?family=Alegreya:400,700,700i' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">

</head>
<body ng-app="LearnSQL">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top py-0" ng-controller="NavCtrl" data-ng-init="init()">
    <div class="container-fluid">
      <a href="http://localhost:3000/" class="navbar-brand mr-auto">LearnSQL</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="http://localhost:3000/" class="nav-link border-right border-left px-4">Home</a>
          </li>
          <li class="nav-item">
            <a href="views/workshop.html" class="nav-link border-right px-3">Workshop</a>
          </li>
          <li class="nav-item">
            <a href="views/learn/select.html" class="nav-link border-right px-4">Learn</a>
          </li>
          <li class="nav-item">
            <a href="views/quizes.html" class="nav-link border-right px-4">Quizzes</a>
          </li>
          <span ng-show="!currentUser">
          <li class="nav-item">
            <a href="views/account/signIn.html" class="nav-link pl-4"> Sign in</a>
          </li>
          </span>
          <span ng-show="currentUser.isadmin">
          <li class="nav-item">
            <a href="views/controlPanels/admin.html" class="nav-link border-right px-4">Admin Control Panel</a>
          </li>
          </span>
          <span ng-show="currentUser">
          <li class="nav-item">
            <a href="views/account/profile.html" class="nav-link border-right px-4">Profile</a>
          </li>
          </span>
          <span ng-show="currentUser">
          <li class="nav-item">
            <a href="#" class="nav-link pl-4" ng-click="logout()">Logout</a>
          </li>
          </span>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Home Section  -->

    <header id="home-section">
      <div class="dark-overlay">
        <div class="home-inner">
          <div class="container">
            <div class="row">
              <div class="col text-white">
                <h1 class="display-4 text-center"> Learn SQL And How To Build <br/>Relational Databases</h1>
                  <div class="d-flex flex-row">
                    <div class="p-5 align-self-start d-none d-lg-block">
                      <i style="position: relative; top: 20px" class="fa fa-check"></i>
                    </div>
                    <div class="p-5 align-self-send">
                      Go to our Learn section to see our wide variety of topics on SQL that covers all topics from Beginner to Expert.
                      Each section covers a specific topic on SQL that starts with an overview of the topic. After the overview there will
                      be examples of how to use the information that you just learned. After that there is a section of questions that will
                      test what you have just learned
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="p-5 align-self-start d-none d-lg-block">
                      <i style="position: relative; top: 20px" class="fa fa-check"></i>
                    </div>
                    <div class="p-5 align-self-send">
                      Use our live database in our Workshop where students and teachers are in a secure sandbox environment.
                      Here you can practice creating mock databases that can behave exactly like many commercial grade Databases without the
                      worry of messing up and effecting other parts of the database
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="p-5 align-self-start d-none d-lg-block">
                      <i style="position: relative; top: 10px" class="fa fa-check"></i>
                    </div>
                    <div class="p-5 align-self-send">
                      Put your knowledge of SQL to the test with our Quiz section that can be configured to test the basics or more complex questions.
                      All of our questions use a real time queries to check your answers vs ours on a pre-configured database
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Learn on Live SQL Server Section -->

    <section id="explore-section" class="bg-light text-muted py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-none d-md-block">
            <img src="views/imgs/Pretty-ER.jpeg" alt="hello" class="img-fluid mb-3 rounded front-page-image" style="min-height: 500px">
          </div>
          <div class="col-md-6">
            <h3>Learn On Live SQL Database</h3>
            <p>
              We take advantage of the fact we have a live PostgreSQL database running in the background.
              Postgres is a SQL Database Management System that is free and open source. What makes it
              special is that it uses to the SQL standard for most features. This means that using Postgres to
              learn SQL is very easy and useful
            </p>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-send">
                All of our questions use this Postgres database to preform queries against the current
                tables of the database. This means that the answers and results are dynamic depending on the
                current status of the tables. Since we compare results rather then syntax the tables can change
                all they want but the correct answer will never change
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-send">
                The Workshop uses this live database to provide students with a sandbox environment to do
                whatever SQL work they want without the worry of effecting anyone else's work. Instructors
                are also able to monitor students work and provide feedback to the students
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- main footer -->

    <footer id="main-footer" class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col text-center text-light">
            <div class="py-4">
              <h1 class="h3">LearnSQL</h1>
              <p>Copyright &copy; 2018</p>
              <a href="../views/contact.html" class="btn btn-primary" role="button">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="../../javascripts/controllers/mainControllers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
