<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Home</title>
  <link rel="stylesheet" href="./stylesheets/style.css" media="screen">
  <link rel="stylesheet" href="./stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/bootstrap.css">
  <link href='https://fonts.googleapis.com/css?family=Alegreya:400,700,700i' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
    <div class="container-fluid">
      <a href="index.html" class="navbar-brand mr-auto">LearnSQL</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="http://localhost:3000/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="views/workshop.html" class="nav-link">Workshop</a>
          </li>
          <li class="nav-item">
            <a href="views/learn/learn.html" class="nav-link">Learn</a>
          </li>
          <li class="nav-item">
            <a href="views/quizes.html" class="nav-link">Quizes</a>
          </li>
          <li class="nav-item">
            <a href="views/account/signIn.html" class="nav-link">Sign in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Home Section  -->

    <header id="home-section">
      <div class="dark-overlay">
        <div class="home-inner">
          <div class="container">
            <div class="row">
              <div class="col-lg d-none d-lg-block text-white">
                <h1 class="display-4 "> Learn SQL And How To Build Relation Databases</h1>
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-send">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex ab, inventore iusto corrupti exercitationem vel earum officia voluptates iure quia quaerat asperiores velit assumenda accusantium odio aliquid quo expedita?
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-send">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex ab, inventore iusto corrupti exercitationem vel earum officia voluptates iure quia quaerat asperiores velit assumenda accusantium odio aliquid quo expedita?
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-4 align-self-send">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ex ab, inventore iusto corrupti exercitationem vel earum officia voluptates iure quia quaerat asperiores velit assumenda accusantium odio aliquid quo expedita?
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>


  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
