<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Workshop</title>
  <link rel = "stylesheet" type = "text/css" href = "../stylesheets/style.css" />
  <link href='https://fonts.googleapis.com/css?family=Alegreya:400,700,700i' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
</head>
<body>

  <nav class="nav-menu">
    <ul>
      <!--WCDB is temp until logo is done-->
      <li style="background-color: #4CAF50; width: 15%;"><a href = "http://localhost:3000/" style="font-size:1.3em;font-weight:bold;padding:9px;margin:0;">W C D B</a></li>
      <li><a href="http://localhost:3000/">Home</a></li>
      <li><a class="active" href="workshop.html">Workshop</a></li>
      <li><a href="./learn/learn.html">Learn</a></li>
      <li style="float:right"><a style="float:right" href="account/signIn.html">Sign In</a></li>
    </ul>
  </nav>

  <div class="vertical-menu">
    <h3 style="background-color:#333;margin-top:0;padding:30px 0px 0px 0px;margin-bottom:0;color:white;height:5%">Classes</h3>
    <a href="#">CS 205</a>
    <a href="#">CS 305</a>
  </div>

  <div class="not-yet-available">
    <p>This section of the website is not currently available, will not be included in first iteration of the website</p>
  </div>
</body>
</html>
