.tab {
    margin-left: 40px; }
  
  .navbar-color {
    background-color: #eeeeee; }
  
  .card-background-color {
    background-color: #1C2331; }
  
  .footer-color {
    background-color: #eeeeee; }
  