#navbar-title {
    color: #ac4142;
  }
  
  #learn-tab {
    background-color: #ac4142;
  }
  
  #page-title {
    color: #ac4142;
  }
  
  .contact-form-background-color {
    background-color: #1C2331;
  }
  
  #footer-header {
    color: #ac4142;
  }
  
  #contact-us-button {
    background-color: #ac4142;
  }