/* FONT STYLE */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
html, body {
  font-family: 'Poppins', sans-serif;
  background: whitesmoke;
  height: 100%; }

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: black; }

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  /* ADDED A SHADOW TO CREATE A 3D CSS EFFECT ON THE NAVBAR */
  box-shadow: 1px 1px 3px black, -5px 0 5px -5px black; }

#navbarTitle {
  color: #ac4142;
  letter-spacing: .5em;
  text-shadow: -1px -1px 1px #111, 1px 1px 0px #ac4142; }

#learnTab {
  background-color: #ac4142; }

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none; }

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0; }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  width: 100%; }

/* SIDEBAR THEME */
#sidebar {
  width: 250px;
  position: fixed;
  box-shadow: 1px 1px 3px black;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #ac4142;
  color: white;
  transition: all 0.3s;
  font-family: cursive; }

#sidebarHeader {
  color: white;
  letter-spacing: .1em;
  text-shadow: -3px -3px 3px #111, 1px 1px 0px #ac4142; }

#bss {
  color: black; }

/* HIDES SIDEBAR BY WHEN MONITOR RESIZES SMALLER */
#sidebar.active {
  margin-left: -250px; }

#sidebar ul p {
  color: #fff;
  padding: 10px; }

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block; }

#sidebar ul li a:hover {
  color: black;
  background: ghostwhite; }

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/* ADDED STYLE TO ALIGN WITH THE SIDEBAR */
#content {
  width: calc(100% - 250px);
  padding-left: 10px;
  padding-right: 10px;
  height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0; }

/* TO MAKE PAGE CONTENT EXPAND THE WHOLE PAGE WHEN SIDEBAR CLOSES */
#content.active {
  width: 100%; }

#pageTitle {
  letter-spacing: .1em;
  font-size: 3em; }

#example {
  margin-right: .1em;
  box-shadow: 1px 1px 3px black, 0 -5px 5px -5px black, 5px 0 5px -5px black, -5px 0 5px -5px black; }

#exampleComment {
  color: black;
  background-color: antiquewhite; }

#problem {
  box-shadow: 1px 1px 3px black, 0 -5px 5px -5px black, 5px 0 5px -5px black, -5px 0 5px -5px black; }

#submitButton {
  background-color: #ac4142; }

/* NAVBAR RESPONSIVE TO ACCORDION AND DROPS DOWN ON PAGE WHEN ACCORDION IS OPENED. */
#main-footer {
  bottom: 0;
  background: #fff;
  position: relative;
  border: none;
  border-radius: 0;
  /* ADDED A SHADOW TO CREATE A 3D CSS EFFECT ON THE MAIN FOOTER */
  box-shadow: 0 -5px 5px -5px black, 5px 0 5px -5px black, -5px 0 5px -5px black; }

#learnSQLFooterHeader {
  color: #ac4142;
  letter-spacing: .2em; }

#contactUsButton {
  background-color: #ac4142;
  color: white; }

#problem-one-font {
  font-size: 2em; }

#problem-two-font {
  font-size: 2em; }

#problem-three-font {
  font-size: 2em; }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px; }
  #sidebar.active {
    margin-left: 0; }
  #content {
    width: 100%; }
  #content.active {
    width: calc(100% - 250px); }
  #sidebarCollapse span {
    display: none; } }
