/* ---------------------------------------------------
  profile.scss - LearnSQL

  Christopher Innaco
  Web Applications and Databases for Education (WADE)

  This file contains the SCSS for the profile.html page
----------------------------------------------------- */
$primary-color: #ac4142;
$secondary-color: #45526e;

#navbar-title {
  color: $primary-color; 
}

#profile-tab {
  background-color: $primary-color; 
}

#page-title {
  color: $primary-color; }

h1 {
  padding-bottom: 10px;
}

.sidebar {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 135px;
  left: 20px;
  background: $secondary-color;
  overflow-x: hidden;
  padding: 15px 5px;
  text-align: center;
}

.list-group-item {
  background: $secondary-color;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: rgb(255, 255, 255);
  display: block;
}

.sidebar a:hover {
    color: $primary-color;
}

#page-body {
  margin-left: 220px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 50px;
}

.table{

  font-size: 16pt;
  background: $secondary-color;
}

table .iconCol{
  text-align: center;
}

p {
  font-size: 14pt;
}

.btn-edit {
  color: #ffffff; 
}

.btn-edit:hover {
  color: $primary-color; 
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.contact-form-background-color {
  background-color: $secondary-color; 
}

#footer-header {
  color: $primary-color; 
}

#contact-us-button {
  background-color: $primary-color; 
}