<!--
  admin.html - LearnSQL

  Kevin Kelly
  Web Applications and Databases for Education (WADE)

  This file contains the html view of the admin control panel page for the
   LearnSQL website
-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Learn</title>
  <link rel = "stylesheet" type = "text/css" href = "../../stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="../../stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="../../stylesheets/bootstrap.css">
  <link rel="stylesheet" href="../../stylesheets/admin.css">
</head>
<body ng-app="LearnSQL">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white" ng-controller="NavCtrl" data-ng-init="init()">
      <div class="container-fluid">
        <!-- NAVBAR HEADER -->
        <h2 id="navbarTitle" class="font-weight-bold ml-3 mt-2">
          <a href="http://localhost:3000/">LearnSQL</a>
        </h2>
        <!-- button to close sidebar -->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- NAVBAR SECTIONS -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a href="http://localhost:3000/" class="nav-link text-dark">Home</a>
            </li>
            <li class="nav-item">
              <a href="../workshop.html" class="nav-link text-dark">Workshop</a>
            </li>
            <li class="nav-item active">
              <a href="../learn/select.html" id="learnTab" class="nav-link shadow-lg text-white">Learn</a>
            </li>
            <li class="nav-item">
              <a href="../quizes.html" class="nav-link text-dark">Quizzes</a>
            </li>
            <span ng-show="!currentUser">
            <li class="nav-item">
              <a href="../Account/signIn.html" class="nav-link text-dark">Sign in</a>
            </li>
            </span>
			<span ng-show="currentUser.isadmin">
			<li class="nav-item">
				<a href="views/controlPanels/admin.html" class="nav-link border-right px-4">Admin Control Panel</a>
			</li>
			</span>
            <span ng-show="currentUser">
            <li class="nav-item">
              <a href="../account/profile.html" class="nav-link text-dark">Profile</a>
            </li>
            </span>
            <span ng-show="currentUser">
            <li class="nav-item">
              <a href="#" class="nav-link text-dark" ng-click="logout()">Logout</a>
            </li>
            </span>
          </ul>
        </div>
      </div>
    </nav>

    <a href="./adminTest.html">Go To Tests</a>

		<!-- Login form -->
		<div class="py-5" ng-controller="AdminCtrl">
			<form class="form-admin">
    			<!-- TODO: add a logo here	 -->
    			<!-- <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    			<span ng-show="error">
    				<div class="alert alert-danger">
    					{{ message }}
    				</div>
    			</span>
                <span ng-show="success">
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                </span>
	      <!-- Default login page or if login anchor is clicked -->
				<span ng-show="form == 'default'">
					<h1 class="h3 mb-3 font-weight-bold text-primary">Admin Control Panel</h1>
					<label for="inputClass" class="sr-only">Class Name</label>
					<input type="name" class="form-control " ng-model="class" placeholder="Class Name" required autofocus>
					<label for="inputClass" class="sr-only">Password</label>
					<input type="password" class="form-control " ng-model="password" placeholder="Type Anything here" required autofocus>
					<!-- TODO: Add a remember me when we can support it -->
					<!-- <div class="checkbox mb-3">
						<label>
							<input type="checkbox" value="remember-me"> Remember me
						</label>
					</div> -->
					<button class="btn btn-lg btn-primary btn-block" value="login" type="submit" ng-click="selectClass()">Select Class</button>
				</span>
				<p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
			</form>
		</div>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
  integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
  <script src="../../javascripts/controllers/mainControllers.js"></script>
  <script src="../../javascripts/controllers/adminController.js"></script>

</body>
</html>
