<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Learn</title>
  <link rel = "stylesheet" type = "text/css" href = "../../stylesheets/style.css" />
  <link href='https://fonts.googleapis.com/css?family=Alegreya:400,700,700i' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
</head>
<body>

  <nav class="nav-menu">
    <ul>
      <!--WCDB is temp until logo is done-->
      <li style="background-color: #4CAF50; width: 15%;"><a href = "http://localhost:3000/" style="font-size:1.3em;font-weight:bold;padding:9px;margin:0;">W C D B</a></li>
      <li><a href="http://localhost:3000/">Home</a></li>
      <li><a href="../workshop.html">Workshop</a></li>
      <li><a class="active" href="./learn.html">Learn</a></li>
      <li style="float:right"><a style="float:right" href="../account/profile.html">Account</a></li>
    </ul>
  </nav>

  <div class="vertical-menu">
    <h3 style="background-color:#333;margin-top:0;padding:10px;margin-bottom:0;color:white;">SQL Tutorials</h3>
    <a href="./learn.html">What is SQL?</a>
    <a href="./relationalDatabases.html" class="active">Relational Databases</a>
    <a href="./keys.html">Primary and Foreign Keys</a>
    <a href="./select.html">Basic Select Statements</a>
    <a href="./where.html">Use of Where</a>
    <a href="./order.html">Order BY</a>
    <a href="./distict.html">Distinct</a>
    <a href="./as.html">As Clause</a>
    <a href="./predicateOperators.html">Predicate Operators</a>
    <a href="./expressions.html">Expressions</a>
    <a href="./scalar.html">Scalar Function</a>
    <a href="./aggregate.html">Aggregate Functions</a>
    <a href="./group.html">Group By</a>
    <a href="./having.html">Having with Group By</a>
    <a href="./insert.html">Insert Into</a>
    <a href="./update.html">Update</a>
    <a href="./delete.html">Delete From</a>
    <a href="./rollback.html">Rollback and Commit</a>
    <a href="./types.html">Data Types</a>
    <a href="./tableCreation.html">Table Creation</a>
    <a href="./addAttributes.html">Adding/Removing Attributes</a>
    <a href="./selectInto.html">Select into</a>
    <a href="./views.html">Views</a>
    <a href="./union.html">Union</a>
    <a href="./intersect.html">Intersect and Except</a>
    <a href="./sub.html">Sub-Queries</a>
    <a href="./derived.html">Derived Tables</a>
    <a href="./joins.html">Joins</a>
    <a href="./transactions.html">Transactions</a>
    <a href="./cursors.html">Cursors</a>
    <a href="./functions.html">Functions</a>
    <a href="./triggers.html">Triggers</a>
  </div>

  <div class="learn">
    <h1>Relational Databases</h1>
    <p>A relational database is a digital database based on the relational model of data,
       as proposed by E. F. Codd in 1970. A software system used to maintain relational databases
       is a relational database management system (RDBMS). Virtually all relational database systems
       use SQL (Structured Query Language) for querying and maintaining the database.
     </br>
     </br>
      This model organizes data into one or more tables (or "relations") of columns and rows,
      with a unique key identifying each row. Rows are also called records or tuples Columns are also called attributes.
      Generally, each table/relation represents one "entity type" (such as customer or product).
      The rows represent instances of that type of entity (such as "Lee" or "chair") and
      the columns representing values attributed to that instance (such as address or price).
    </p>
    <div class="example-title">
      <p>Example</p>
      <div class="example">
        <img src="../../views/imgs/Relational-Database.png" style="width:100%;height:auto;" alt="Can't find Home page image"/>
      </div>
    </div>
  </div>
  <h3 style="position: absolute;top:1300px;left:500px;">Not my own work, only meant to be as example. Has to be rewritten before publishing</h3>
</body>
</html>
